<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>产品记录</title>
</head>
<body>
	<table>
		<tr>
			<th>产品名字</th>
			<th>产品型号</th>
			<th>产品编号</th>
			<th>销售人员</th>
		</tr>
		<tr th:each="prod:${productions}">
			<td th:text="${prod.name}"/>
			<td th:text="${prod.specification}"/>
			<td th:text="${prod.productNumber}"/>
			<td th:text="${prod.salesman}"/>
		</tr>
	</table>
</body>
</html>